<ol>
  <!-- @for (item of items; track $index) {} -->
  @for(coluna of linhas; track $index){
  <li>
    @for(foto of coluna; track foto.id){
    <div>
      <app-moldura-foto
        [src]="foto.url"
        [alt]="foto.description"
      ></app-moldura-foto>
    </div>
    }
  </li>
  }
</ol>

<!-- @for(foto of listaFotos; track foto.id){
<div>
  <app-moldura-foto
    [src]="foto.url"
    [alt]="foto.description"
  ></app-moldura-foto>
</div>
} -->

<!-- <app-moldura-foto
  [src]="'https://picsum.photos/600/400'"
  [alt]="'alt'"
></app-moldura-foto>
<app-moldura-foto
  [src]="'https://picsum.photos/599/400'"
  [alt]="'alt'"
></app-moldura-foto>
<app-moldura-foto
  [src]="'https://picsum.photos/601/400'"
  [alt]="'alt'"
></app-moldura-foto> -->
